/.venv
__pycache__
CLAUDE.md
AGENTS.md
detecting_faces_data
README_HE.md
/models
/results_blazeface
/results_scrfd
/results_embeddings
/results_eval_embeddings
/results_identification
/politicians_images
/real_data
